/*
=====GENERAL NOTES ON STYLE======
Fonts: 'Lato' for sans-serif and 'Cinzel' for serif-- very close to Ivy Tech style guide requirements.
Colors:
    Ivy Tech Green: #006648
    Medium Green: #41ad49
    Lime: #8dc63f
    Gray: #939598
    Blck: #000
*/
@import url(http://fonts.googleapis.com/css?family=Lato|Cinzel:400,700);

html, body {
  height:100%;
}

body {
  padding-top: 3.2em;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 1.7em;
}

.container {
  width: 100%;
  min-height:100%;
  overflow:hidden;
}
.text-center {
  padding-top: 20px;
}

.navbar {
  border: none;
  background-color:#006648;
  min-height:54px;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #fff;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left:0;
}

.navbar img {
  width: 10em;
  margin-left: 15px;
  transform: translateY(8%);
  border: 2.5px white solid;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 1.3em;
  background-color:lightgrey;
  margin-bottom:-9999px;
  padding-bottom:9999px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
}
#sidebar li a {
  color:#006648;
}

i.menu-icon {
  margin:0 1rem 0 0;
}

.col-xs-12.col-sm-9 {
  padding-right:0;
  padding-left:0;
}

.main-search {
  background-color:whitesmoke;
}

.input-group {
  width:85%%;
  margin: auto;
  padding: 1.5em .25em;
}

#button-group {
  width:85%;
  margin:auto;
}

.services_buttons {
  padding:4em 0;
  background-image: url('../img/round-lib.jpg');
  background-position:center;
}

.main_buttons {
  text-align:center;
  margin: .75em .25em;
}

.guide-btn, .find-btn, .resources-btn {
  width:100%;
}

.opening-info {
  text-align: center;
  padding: 1.5em 0;
  background-color:whitesmoke;
}

.events-info, .news-info {
  width: 85%;
  margin: auto;
  padding:.5em;
}
.events-info p, .news-info p {
  margin-left:2em;
}

footer {
  padding: 1em 0;
  background-color: whitesmoke;
}

footer p {
  padding-left:1em;
}

/* styles for mobile */
@media screen and (max-width: 500px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    display:none;
   }
}

/* collapsed sidebar styles and styles for tablets/mobile */
@media (max-width: 767px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}


/* full-screen styles */
@media (min-width: 991px) {


}